<!doctype html>
<html lang="ru">

<!--* head -->
    <%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
        <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
            <%- include('./modules/header.ejs') %>

        <!--= main -->
        <main class="main">
            <!-- шапка -->
                    <div class="heder-page heder-page_margin">
                        <h1 class="heder-page__title">ЗАХОРОНЕНИЕ</h1>
                        <div class="heder-page__img">
                            <picture>
                                <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                                <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                                <source srcset="img/home/grob.webp" type="image/webp">
                                <img src="img/home/grob.jpg" alt="фото гроба">
                            </picture>
                        </div>
                    </div>
                    <!-- текст:Уход человека -->
                    <div class="text-page container">
                        <div class="text-page_margin">Уход человека — это трагедия, сложный период, пережить который один на один очень сложно. Нужно не только осознать, что происходит, но и решать организационные вопросы, что совсем непросто. Необходимо сохранять самообладание, держать все под контролем, а это в данной ситуации не всегда удается.</div>
                    </div>
                    <!-- img: рука+гроб -->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__burial/1-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__burial/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__burial/1.webp" type="image/webp">
                            <img src="img/__burial/1.jpg" alt="рука и гроб">
                        </picture>
                    </div>
                    <!-- текст:Перед захоронением -->
                    <div class="text-page container">
                        <div class="text-page_margin">Перед захоронением оформляются все необходимые документы, приобретаются ритуальная символика, место на кладбище, организовываются поминки. Все эти процедуры отнимают немало времени и сил. Именно поэтому стоит обратиться в компанию, которая оказывает ритуальные услуги. Сколько стоят ритуальные услуги? Какая сумма необходима на погребение? Достаточно ли похоронных, выделенных государством?<br><br>Наша компания оказывает ритуальные услуги под ключ так, чтобы пособие покрывало стоимость похорон. Теперь не нужно думать о том, где взять денег, как вложиться в бюджет. Все это делаем мы за вас.<br><br>Сегодня выплата похоронных в Минске составляет  <span><%= siteInfo['money'] %></span> руб . Мы предлагаем своим клиентам 3 пакета услуг разной стоимости.<br><br>В них входят следующее:</div>
                    </div>
                    <!-- Prais -->
                    <div class="box-prais">
                        <div class="prais">
                            <div class="prais__item">
            
                                <div class="prais-list">
                                    <div class="prais-list__heder">
                                        <div class="prais-list__title">CLASSIC</div>
                                        <div class="prais-list__sub-title">МИНИМАЛЬНЫЙ ПАКЕТ НЕОБХОДИМЫХ УСЛУГ</div>
                                    </div>
                                    <div class="prais-list__pay">
                                        <div class="prais-list__byn"><%= siteInfo['classic'] %><span> BYN</span></div>
                                        <div class="prais-list__byn-sub">полностью покрывается пособием на погребение</div>
                                    </div>
                                    <ul class="prais-list__list">
                                        <li class="prais-list__line"><span>Гроб социальный;</span></li>
                                        <li class="prais-list__line"><span>Крест с табличкой;</span></li>
                                        <li class="prais-list__line"><span>Услуги катафалка</span></li>
                                        <li class="prais-list__line"><span>Малый венок;</span></li>
                                        <li class="prais-list__line"><span>Доставка гроба и товаров;</span></li>
                                        <li class="prais-list__line"><span>Транспорт;</span></li>
                                        <li class="prais-list__line"><span>Сбор всех необходимых справок и документов;</span></li>
                                        <li class="prais-list__line"><span>Полное сопровождение похорон;</span></li>
                                    </ul>
                                    <a href="contacts.html" class="prais-list__button _pc-button">заказать</a>
                                    <div class="prais-list__ps" data-textPrace=""><%= siteInfo['text_help'] %></div>
                                </div>
            
                            </div>
                            <div class="prais__item">
                                <div class="prais-list">
                                    <div class="prais-list__heder">
                                        <div class="prais-list__title">STANDART</div>
                                        <div class="prais-list__sub-title">ПЕРЕЧЕНЬ НЕОБХОДИМЫХ УСЛУГ</div>
                                    </div>
                                    <div class="prais-list__pay">
                                        <div class="prais-list__byn"><%= siteInfo['standart'] %><span> BYN</span></div>
                                        <div class="prais-list__byn-sub">полностью покрывается пособием на погребение</div>
                                    </div>
                                    <ul class="prais-list__list">
                                        <li class="prais-list__line"><span>Гроб социальный;</span></li>
                                        <li class="prais-list__line"><span>Крест с табличкой;</span></li>
                                        <li class="prais-list__line"><span>Венок стандартный или корзина, 2 шт.;</span></li>
                                        <li class="prais-list__line"><span>Доставка гроба и товаров;</span></li>
                                        <li class="prais-list__line"><span>Полная подготовка тела;</span></li>
                                        <li class="prais-list__line"><span>Транспорт;</span></li>
                                        <li class="prais-list__line"><span>Грузчики;</span></li>
                                        <li class="prais-list__line"><span>Сбор всех необходимых справок и документов;</span></li>
                                        <li class="prais-list__line"><span>Полное сопровождение похорон;</span></li>
                                    </ul>
                                    <a href="contacts.html" class="prais-list__button _pc-button">заказать</a>
                                    <div class="prais-list__ps" data-textPrace=""><%= siteInfo['text_help'] %></div>
                                </div>
                            </div>
                            <div class="prais__item">
                                <div class="prais-list">
                                    <div class="prais-list__heder">
                                        <div class="prais-list__title">CLASSIC PLUS</div>
                                        <div class="prais-list__sub-title">ОПТИМАЛЬНЫЙ НАБОР НЕОБХОДИМЫХ УСЛУГ</div>
                                    </div>
                                    <div class="prais-list__pay">
                                        <div class="prais-list__byn"><%= siteInfo['classic_plus'] %><span> BYN</span></div>
                                        <div class="prais-list__byn-sub">полностью покрывается пособием на погребение</div>
                                    </div>
                                    <ul class="prais-list__list  __padding-3">
                                        <li class="prais-list__line"><span>Гроб обитый тканью;</span></li>
                                        <li class="prais-list__line"><span>Крест с табличкой;</span></li>
                                        <li class="prais-list__line"><span>Венок стандартный или корзина, 2 шт.;</span></li>
                                        <li class="prais-list__line"><span> Доставка гроба и товаров;</span></li>
                                        <li class="prais-list__line"><span> Полная подготовка тела;</span></li>
                                        <li class="prais-list__line"><span>Транспорт;</span></li>
                                        <li class="prais-list__line"><span>Грузчики;</span></li>
                                        <li class="prais-list__line"><span> Оформление места на кладбище;</span></li>
                                        <li class="prais-list__line"><span>Копка могилы, опускание гроба, формирование холма;</span></li>
                                        <li class="prais-list__line"><span> Шатёр для прощания;</span></li>
                                        <li class="prais-list__line"><span>Сбор всех необходимых справок и документов;</span></li>
                                        <li class="prais-list__line"><span>Полное сопровождение похорон.</span></li>
                                    </ul>
                                    <a href="contacts.html" class="prais-list__button _pc-button">заказать</a>
                                    <div class="prais-list__ps" data-textPrace=""><%= siteInfo['text_help'] %></div>
                                </div>
                            </div>
                        </div>
                    </div>             
            
        </main>

        <!--* footer -->
            <%- include('./modules/footer.ejs') %>

</body>
</html>


